{% extends 'base.html.twig' %}

{% block title %}liste des Produits{% endblock %}

{% block body %}

<h1 class="text-center my-3">Liste des produits</h1>

<div class="row">

	{% for produit in produits %}

		<div class="col-md-4">
			<div class="card mb-3" style="width: 18rem;">
				<h3 class="card-header">{{ produit.titre }}</h3>

				<img src="{{ produit.photo }}" alt="Image du produit">
				<div class="card-body">
					<p class="card-text text-end fw-bold">€{{ produit.prix }}
					</p>
				</div>
				<div class="card-body text-end">
					<a href="{{ path('cart_add', {id: produit.id}) }}" class="card-link btn-primary"> ajouter au panier</a> </div> </div> </div> 
                    {% endfor %} </div> 
                    
                    {% endblock %}



